emacs.d/auto-save-list
emacs.d/backup_files
emacs.d/auto-backup-files
emacs.d/elpa
emacs.d/helm-adaptive-history
emacs.d/projectile.cache
emacs.d/projectile-bookmarks.eld
emacs.d/recentf
emacs.d/saveplace-history
emacs.d/bookmarks
emacs.d/.mc-lists.el
emacs.d/.org-id-locations
emacs.d/eshell
emacs.d/tramp
