auto-backup-files
auto-save-list
backup_files
bookmarks
custom.el
elpa
elpy
eshell
games
helm-adaptive-history
journal
org-journal.cache
projectile.cache
projectile-bookmarks.eld
recentf
saveplace-history
.mc-lists.el
.org-id-locations
transient
tramp
